<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Visuell Ähnliche Produktempfehlungen</label>
    <label lang="en">Visually Similar Product Recommendations</label>

    <version>1.0.0</version>
    <copyright>(c) VisualSearch GmbH</copyright>
    <license>MIT</license>
    <link>https://github.com/VisualSearch-GmbH/VisRecommendSimilarProducts5</link>
    <author>VisualSearch GmbH</author>
    <compatibility minVersion="5.3.0"/>

    <description lang="de">Empfehlungen für visuell ähnliche Produkte auf der Produktdetailseite. Besuchen Sie bitte diese Seite, um Ihren API-Schlüssel zu erhalten: https://www.visualsearch.at/index.php/credentials/</description>
    <description lang="en">Recommends visually similar products in the product detail page. Please visit this page to obtain your API key: https://www.visualsearch.at/index.php/credentials/</description>

    <changelog version="1.0.0">
        <changes lang="de">
            Erste Version des Plugins
        </changes>
        <changes lang="en">
            First version of the plugin
        </changes>
    </changelog>

</plugin>
