<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Visuell Ähnliche Produktempfehlungen</label>
    <label>Visually Similar Product Recommendations</label>

    <version>1.0.0</version>
    <copyright>(c) VisualSearch GmbH</copyright>
    <license>MIT</license>
    <link>https://github.com/VisualSearch-GmbH/VisRecommendSimilarProducts5</link>
    <author>VisualSearch GmbH</author>
    <compatibility minVersion="5.6.0"/>

    <description lang="de"><![CDATA[
        <h2>Automatische Erstellung visuell ähnlicher Produktempfehlungen</h2><br>
        <p>Dieses
        Plugin bietet eine automatische Erstellung von visuell ähnlichen
        Empfehlungen für alle verfügbaren Produkte. Die Erstellung dieser
        Empfehlungen ist durch einen innovativen Algorithmus möglich, der
        visuell verwandte Produkte in allen verfügbaren Kategorien automatisch
        findet.</p><br>
        <p>In diesem Plugin werden die
        bereitgestellten Empfehlungen mit einem maßgeschneiderten KI-Algorithmus
        erstellt. Dieser Algorithmus läuft auf einem externen Server und ein <strong>gültiger API-Schlüssel</strong> wird benötigt, um auf diesen Dienst zuzugreifen.</p><br>
        <p>Bitte klicken Sie <a href="https://www.visualsearch.at/index.php/credentials/" target="_blank" rel="noreferrer">hier</a>, um unsere Website zu besuchen und Ihren API-Schlüssel anzufordern.</p><br>
        <p>Die Installationsanleitung finden Sie bitte <a href="https://github.com/VisualSearch-GmbH/VisRecommendSimilarProducts5" target="_blank" rel="noreferrer">hier.</a></p><br>
        <h3>Kontakt</h3>
        <p>E-Mail: office@visualsearch.at, Web: <a href="https://www.visualsearch.at" target="_blank" rel="noreferrer">www.visualsearch.at</a>, Handy: +43 670 6017118</p>
        ]]>
    </description>
    <description><![CDATA[
        <h2>Automatically generates visually similar product recommendations</h2><br>
        <p>This
        plugin provides automatic creation of visually similar recommendations
        for all available products. The creation of these recommendations is
        possible using an innovative algorithm that automatically finds visually
        related products in all available categories.</p><br>
        <p>In this plugin, the provided recommendations are created
        with a custom AI algorithm. This algorithm is running on an external
        server and a <strong>valid API key</strong> is needed to access this service.</p><br>
        <p>Please click <a href="https://www.visualsearch.at/index.php/credentials/" target="_blank" rel="noreferrer">here</a> to visit our website and request your API key.</p><br>
        <p>Please find the installation instructions <a href="https://github.com/VisualSearch-GmbH/VisRecommendSimilarProducts5" target="_blank" rel="noreferrer">here.</a></p><br>
        <h3>Contact</h3>
        <p>E-Mail: office@visualsearch.at, Web: <a href="https://www.visualsearch.at" target="_blank" rel="noreferrer">www.visualsearch.at</a>, Phone: +43 670 6017118</p>
        ]]>
    </description>

    <changelog version="1.0.0">
        <changes lang="de">
            Erste Version des Plugins
        </changes>
        <changes>
            First version of the plugin
        </changes>
    </changelog>

</plugin>
