<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>

        <element required="true" type="text" scope="locale">
            <name>apiKey</name>
            <label lang="de">API-Schlüssel</label>
            <label>API Key</label>
            <value>preselection</value>
            <description lang="de">Bitte geben Sie Ihren API-Schlüssel ein</description>
            <description>Please enter your API key</description>
        </element>
        <element type="button">
            <name>buttonTest</name>
            <label lang="de">API-Zugangsdaten testen</label>
            <label>Test API credentials</label>
            <options>
                <handler>
                    <![CDATA[
                    function() {
                      Ext.Ajax.request({
                        url: 'RecommendationsController/apiKeyVerify',
                        success: function (response) {
                          try{
                            let content = Ext.JSON.decode(response.responseText);
                            if(content.success){
                              Shopware.Msg.createGrowlMessage(response.statusText, content.response);
                              return;
                            }
                          }catch(e){}
                          Shopware.Msg.createGrowlMessage('Error', 'Please make sure plugin is active and the api credentials are valid.');
                        },
                        failure: function (response) {
                          if (response.status === 404) {
                            Shopware.Msg.createGrowlMessage('Plugin Manager', 'Please activate plugin before testing api.');
                          } else {
                            let message = response.responseText;
                            try{
                              let content = Ext.JSON.decode(response.responseText);
                              if(content.response){
                                message = content.response;
                              }
                            }catch(e){}
                            Shopware.Msg.createGrowlMessage(response.statusText, 'Please make sure plugin is active and the api credentials are valid.' + (message ? '<br/>' + message : ''));
                          }
                        }
                      });
                    }
                    ]]>
                </handler>
            </options>
        </element>

    </elements>

</config>
